.primary-wallet-container {
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: black solid 1px;
}

.primary-wallet-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
