.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

.update-button {
  padding: 5px 10px;
  background-color: #4779ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-info p {
  margin: 0;
  padding: 5px 10px;
}

.user-info .user-details {
  display: flex;
  justify-content: center;
}

.user-info .user-details p:not(:last-child) {
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}
